.LineItem {
  width: 80%;
  display: grid;
  grid-template-columns: 18vw 12vw 3vw 5.25vw;
  padding: 01vmin 0;
  color: v#3e2217;
  background-color: var(--white);
  border-top: .1vmin solid var(--tan-3);
  font-size: 16px;
}

.LineItem:last-child {
  border-bottom: .1vmin solid var(--tan-3);
}

.LineItem .qty {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
}

.LineItem .ext-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
}

.LineItem button {
  margin: 0;
}
